hr {
    margin: 0;
}
.container {
    background: #F6F1F1;
    padding: 10vh 15vw;
}
.block {
    background: snow;
    border-radius: 20px;
    padding: .6% 5%;
    box-shadow: 5px 5px 0 0 #1F271B22;
}
.job {
    position: relative;
    padding: 10px;
    background: snow;
}
.job:hover {
    background: #FCF7F7;
}
.job > .company {
    font-size: 24px;
    text-align: right;
}
.job > .title {
    font-size: 18px;
    text-align: right;
}
.job > img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.block > h1 {
    font-size: 40px;
}